.App {
  text-align: center;
}

.total-div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.total-div .ReactTable {
  width: 37%;
}
.total-div .ReactTable .rt-tbody {
  max-height: 400px !important;
}
.total-div .chart-div {
  width: 58%;
}
