.App {
  text-align: center;
}
.App .loader {
  margin: 50px auto 0;
}
@media only screen and (max-width: 750px) {
  .total-div {
    flex-direction: column;
  }
  .total-div .ReactTable {
    width: 100% !important;
  }
  .total-div .chart-div {
    width: 100% !important;
  }
  .total-div .chart-div h3 {
    margin-top: 15px;
  }
}
.total-div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.total-div > div {
  display: inline;
  width: 100%;
}
.total-div .ReactTable {
  margin-right: 20px;
}
.total-div .ReactTable .rt-tbody {
  max-height: 400px !important;
}
.total-div .chart-div {
  width: 58%;
}
.total-div .chart-div canvas {
  margin-top: -8px;
}
